h1 {
    font-size: 45px;
}
.redtext {
    color: red;
    font-size: 60px;
}
.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo{
    height: auto;
    width: auto;
    padding-left: 30px;
    margin: 5px;
    width: 20%;
}
.btn_login_wrap{
    padding-right: 30px;
    padding-top: 0;
    margin: 5px;
    width: 20%;
}
.btn_login{
    cursor: pointer;
    margin-top: 50px;
    margin-left: 100px;
    height: 65px;
    width: 280px;
    border-color: red;
    border-radius: 8px;
    border-style: none;
    background-color: red;
}
.btn_next{
    font-style: none;
    font-size: 40px;
    font-weight: 900;
    color: white;
}
#slideShow{
    background-color: white;
    border-radius: 40px;
    border-style:solid;
    border-color: rgb(243, 60, 100);
    border-width: 10px;
    width: 1000px;
    height: 680px;
    position: relative;
    margin: 50px auto;
    overflow: hidden;   
}
.slides{
    margin-top: 100px;
    position: absolute;
    left: 0;
    top: 0;
    width: 2500px;
    transition: left 0.5s ease-out; 
    display: flex;
}
.slides li:first-child{
    margin-left: 100px;
}
.slides li:not(:last-child){
    float: left;
    margin-right: 200px;
}
.slides li{
    float: left;
}
.controller span{
    position:absolute;
    background-color: transparent;
    color: red;
    text-align: center;
    border-radius: 50%;
    padding: 10px 30px;
    top: 43%;
    font-size: 3em;
    cursor: pointer;
}
.controller span:hover{
    background-color: rgba(245, 163, 163, 0.315);
}
.prev{
    left: 10px;
}
.prev:hover{
    transform: translateX(-10px);
}
.next{
    right: 10px;
}
.next:hover{
    transform: translateX(10px);
}
